.BODY{
    padding : 5vw;
}
.Title{
    margin-top: 1vw;
    margin-bottom: 10px;
}
.SubTitle{
    margin-bottom : 5vw;
}

.ButtonToolbar{
    margin-top:30px;
}
.WriteandDelete{
    float:right;
    margin-top:15px;
    padding-right : 4vw;
}
tbody tr{
     cursor: pointer; 
}
/* Desktop */
@media screen and (min-width: 769px) {
    .Title{
        font-size: 3rem;
    }
    th{
        font-weight: bold;
        font-size: 1.5rem;
    }
    td{
        font-size: 1rem;
    }
}

/* mobile */
@media screen and (max-width: 768px) {
    .Title{
        margin-top: 5vw;
        font-size: 2rem;
    }
    .SubTitle{
        font-size: 1rem;
    }
    th{
        font-weight: bold;
        font-size: 1rem;
    }
    td{
        font-size: 0.7rem;
    }
}